
<table>
    <tr>
        <th>出勤</th>
        <th>退勤</th>
    </tr>
    <tr>
        <th><%= render "start/index" %></th>
        <th>
            <% @finish_times.each do |finish_time| %>
                <ul>
                    <li>
                        <p><%= finish_time.created_at.strftime('%Y/%m/%d　%H:%M') %></p>
                    </li>
                </ul>
                
            <% end %>
        </th>
    </tr>




</table>

<%= link_to user_path(current_user) do %>
    <p>戻る</p>
<% end %>

