
<p>ログインして出勤！</p>
<%= Time.now.strftime("%Y年%m月%d日") %>

<div id="clock"></div>

<span id="text"></span>

  <script type="text/javascript">
  document.getElementById("text").innerHTML = showTime();
  
  function showTime() {
    var now = new Date();
    var nowhour = now.getHours();
    var nowminutes = now.getMinutes();
    var nowseconds = now.getSeconds();
  
    var text = nowhour + "：" + nowminutes + "：" + nowseconds; 
    
    return text;
  }
  </script>
  
<%= @attend_time %>


