
<h3>ログインして出勤！</h3>
<br>
<%= Time.now.strftime("%Y年%m月%d日") %>
<br />
<div id="clock" class="h3"></div>



  <script type="text/javascript">
  document.getElementById("text").innerHTML = showTime();
  
  function showTime() {
    var now = new Date();
    var nowhour = now.getHours();
    var nowminutes = now.getMinutes();
    var nowseconds = now.getSeconds();
  
    var text = nowhour + "：" + nowminutes + "：" + nowseconds; 
    
    return text;
  }
  </script>
  



